<a href="https://colab.research.google.com/github/tomasz-soltysiak/Fraud_transaction/blob/master/Recruitment_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import fire
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('/content/dataset.csv')
data.head()

   age     sex    bmi  children smoker     region      charges
0   46  female  19.95         2     no  northwest   9193.83850
1   47  female  24.32         0     no  northeast   8534.67180
2   52  female  24.86         0     no  southeast  27117.99378
3   39  female  34.32         5     no  southeast   8596.82780
4   54  female  21.47         3     no  northwest  12475.35130

In [12]:
def dummy(data):
 return pd.get_dummies(data,drop_first=True)
dummy(data)
np.mean(dummy(data))

age                    39.357009
bmi                    30.560397
children                1.107477
charges             13346.089736
sex_male                0.512150
smoker_yes              0.205607
region_northwest        0.239252
region_southeast        0.264486
region_southwest        0.246729
dtype: float64

In [10]:
#dummy(data)*np.mean(dummy(data))/np.std(dummy(data))
a=data['age']
a

0       46
1       47
2       52
3       39
4       54
        ..
1065    18
1066    39
1067    58
1068    37
1069    55
Name: age, Length: 1070, dtype: int64